<template>
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <b-nav pills variant="faded" type="light">
              <b-nav-item :active="isTabSelected('topstories')" @click="selectTab('topstories')">Top</b-nav-item>
              <b-nav-item :active="isTabSelected('newstories')" @click="selectTab('newstories')">New</b-nav-item>
              <b-nav-item :active="isTabSelected('askstories')" @click="selectTab('askstories')">Ask</b-nav-item>
              <b-nav-item :active="isTabSelected('showstories')" @click="selectTab('showstories')">Show</b-nav-item>
              <b-nav-item :active="isTabSelected('jobstories')" @click="selectTab('jobstories')">Jobs</b-nav-item>
            </b-nav>
          </div>
          <div class="col-auto align-left mt-2 mr-2">
            <b-button variant="primary" color="primary" class="float-right">Login</b-button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <stories-list :a-stories="aPerPageStoriesData"/>
      </div>
      <div class="text-center story-pagination row">
        <div class="col-md-5"> </div>
        <div class="col-md-5">
          <v-pagination v-model="currentPage" :page-count="(aStoriesId.length/maxItems)" :classes="paginationClasses"></v-pagination>
        </div>
      </div>
      <div class="text-center">
        <p>Note: This Application can only be used for test and evaluation purposes </p>
        <p>Hacker News API has been used to implement this application</p>
      </div>
    </div>
  </div>
</template>

<script>
import StoriesList from "./StoriesList.vue";
import vPagination from 'vue-plain-pagination'
import axios from "axios";

export default {

  name: "BaseLayout",

  components: {StoriesList,vPagination},

  data(){
    return{
      currentTab:"topstories",
      aStoriesId:[],
      maxItems:20,
      currentPage:1,
      aPerPageStoriesId:[],
      aPerPageStoriesData:[]
    }
  },

  watch: {
    /**
     * this function will handle the pages
     * @param val
     */
    currentPage: function (val) {

      const maxItems=this.maxItems*val;
      this.aPerPageStoriesId = this.aStoriesId.slice(maxItems-this.maxItems,maxItems);
      this.aPerPageStoriesData=[];
      this.getALLStoriesData(this.aPerPageStoriesId);
    },
  },

  computed:{

    /**
     * classes for the pagination vue
     * @returns {{button: string, liActive: string, ul: string, liDisable: string, li: string}}
     */
    paginationClasses(){

      return  {
        ul: 'pagination',
        li: 'page-item',
        liActive: 'active',
        liDisable: 'disabled',
        button: 'page-link'
      }
    }
  },

  methods:{

    /**
     * which tab is selected
     * @param tab
     * @returns {boolean}
     */
    isTabSelected(tab) {

      return tab === this.currentTab;
    },

    /**
     * select on of tab
     * @param tab
     */
    selectTab(tab) {

      this.currentPage = 1
      this.currentTab = tab;
      this.aPerPageStoriesData=[];
      this.aPerPageStoriesId=[];
      this.getStories(tab);
    },

    /**
     * get first all stories ids
     * @param sStoryType
     * @returns {Promise<unknown>}
     */
    getStories(sStoryType){

      return new Promise((resolve,reject)=>{
        axios.get(sStoryType+'.json')
        .then(oResponse=>{
          this.aStoriesId = oResponse.data.filter(item=>item);
          this.aPerPageStoriesId = this.aStoriesId.slice(0,this.maxItems)
          this.getALLStoriesData(this.aPerPageStoriesId);
          resolve(oResponse)
        })
        .catch(error=>{reject(error)})
      });
    },

    /**
     * get one story related data
     * @param iStoryId
     */
    getStoryRelatedData(iStoryId){

      new Promise((resolve,reject)=>{
        axios.get(`/item/${iStoryId}.json`)
        .then(oResponse=>{
          if(oResponse.data){ //&& !this.aPerPageStoriesData.find(elm=>elm.id===oResponse.data.id)){
            this.aPerPageStoriesData.push(oResponse.data)
          }
          resolve(oResponse)
        })
        .catch(error=>{reject(error)})
      });
    },

    /**
     * iterate through the ids and get all data of stories
     * @param aPerPageStoriesId
     */
    getALLStoriesData(aPerPageStoriesId){

      aPerPageStoriesId.forEach(item=>this.getStoryRelatedData(item))
    }

  },
  created() {

    this.getStories(this.currentTab);
  }
}
</script>

<style scoped>
</style>