<template>
  <div>
    <div class="ml-4 border" v-for="(comment,index) in aCommentsData" v-bind:key="index">
      <div class="accordion" role="tablist">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-4 col col-md-12" role="tab">
            <div class=" col col-md-3 mb-4">
              <div class=" fluid ml-0">
                <i class="fas fa-user fa-3x shadow"></i>
                <a class="mt-4" v-html="comment.by"></a>
              </div>
            </div>
            <div class="col col-md-12">
              <div class="col fluid ml-0">
                <span class="comment-text mb-4" v-html="comment.text"> </span>
              </div>
              <div>
                <span class="col-md-0 comment-data" v-show="comment.type!=='job'">
                  <i class="fa fa-comments"></i> Reply to This Comment:{{comment.kids?comment.kids.length:0}}
                </span>
                <span class="col-md-6 comment-data">
                  <i class="fa fa-clock"></i>: {{timeSince(comment.time)}}
                </span>
              </div>
            </div>
          </b-card-header>
        </b-card>
        </div>
      <comments :a-nested-comments-id="comment.kids"/>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {

  name: "Comments",

  data(){
    return{
      aCommentsData:[]
    }
  },

  props:{
    aNestedCommentsId:{}
  },

  methods:{

    /**
     * time calculation for the story
     * @param date
     * @returns {string}
     */
    timeSince(date){

      date=moment.unix(date)
      return moment(date).fromNow()
    },

    /**
     * process the stories comments ids to get all the nested comments
     * @param aCommentsIds
     */
    getData(aCommentsIds){

      aCommentsIds.forEach(item=>this.getStoryRelatedData(item,''))
    },

    /**
     * Api call to get comment data
     * @param iCommentId
     * @returns {Promise<unknown>}
     */
    getStoryRelatedData(iCommentId){

      return new Promise((resolve,reject)=>{
        axios.get(`/item/${iCommentId}.json`)
        .then(oResponse=>{
          if(oResponse.data){ //&& !this.aPerPageStoriesData.find(elm=>elm.id===oResponse.data.id)){
            this.aCommentsData.push(oResponse.data);
            resolve(oResponse)
          }
        })
        .catch(error=>{reject(error)})
      });
    },
  },

  created() {

    /* there is problem to load the data but this will fix */
    setTimeout(()=>{
      let aNestedCommentsId=[]
      typeof this.aNestedCommentsId == 'undefined' ? aNestedCommentsId=[]:aNestedCommentsId=this.aNestedCommentsId;
      this.getData(aNestedCommentsId);
    },1000);

  }
}
</script>

<style scoped>

.comment-data{
  color: grey;
}
.comment-text{
  font-size: small;
}
</style>