<template>
  <div>
    <div class="card-body post-body posts-container">
      <div class="fluid row">
        <div class="col-md-12 col-lg-6">
          <button
              v-for="(story, index) in getStoriesEven()"
              :key="index"
              class="posts-btn card-btn"
          >
            <div class="row fluid ml-0 btn-title-div">
              <a v-bind:ref="'ellipsis-' + story.id" class="row ellipsis-container" :href="story.url">
                {{ story.title }}
              </a>
            </div>
            <div class="row btn-action-div">
              <span class="col-md-2 btn-data w-0"
                    v-show="story.type!=='job'"
                    @click="showComments(story)"
                    v-b-tooltip.hover title="Click to See all Comments"
              >
                <i class="fa fa-comments"></i>:{{story.kids?'Top-'+story.kids.length:'discuss'}}
              </span>
              <span class="col-md-2">
                <i class="fa fa-eye"></i>:{{story.descendants}}
              </span>
              <span class="col-md-3" v-b-tooltip.hover :title="'Created '+timeSince(story.time)+' by '+story.by">
                <i class="fa fa-user"></i>:{{story.by+' '+timeSince(story.time)}}
              </span>
              <span class="col-md-4 ellipsis-container" v-bind:ref="'ellipsis-' + story.id">
                <i class="fa fa-link "></i>:{{getBaseUrl(story.url)}}
              </span>
            </div>
          </button>
        </div>
        <div class="col-md-12 col-lg-6">
          <button
              v-for="(story,index) in getStoriesOdd()"
              :key="index"
              class="posts-btn card-btn"
          >
            <div class="row fluid ml-0 btn-title-div">
              <a v-bind:ref="'ellipsis-' + story.id" class="row ellipsis-container" :href="story.url">
                {{ story.title }}
              </a>
            </div>
            <div class="row btn-action-div">
              <span class="col-md-2 btn-data"
                    v-show="story.type!=='job'"
                    @click="showComments(story)"
                    v-b-tooltip.hover title="Click to See all Comments"
              >
                <i class="fa fa-comments"></i>:{{story.kids?'Top-'+story.kids.length:'discuss'}}
              </span>
              <span class="col-md-2">
                <i class="fa fa-eye"></i>:{{story.descendants}}
              </span>
              <span class="col-md-3" v-b-tooltip.hover :title="'Created '+timeSince(story.time)+' by '+story.by">
                <i class="fa fa-user"></i>:{{story.by+' '+timeSince(story.time)}}
              </span>
              <span class="col-md-4">
                <i class="fa fa-link"></i>:{{getBaseUrl(story.url)}}
              </span>
            </div>
          </button>
        </div>
      </div>
      <div class="row fluid col-sm-12 p-4"> </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {

  name: "StoriesList",

  // eslint-disable-next-line vue/no-unused-components
  components:{moment},

  data(){
    return{
    }
  },

  props:{
    aStories:{
      type:Array,
      required:true
    }
  },

  methods:{

    /**
     * dividing the stories into two columns
     * @returns {*[]}
     */
    getStoriesOdd() {return this.aStories.filter((story, index) => index % 2 !== 0);},

    /**
     * dividing the stories into two columns
     * @returns {*[]}
     */
    getStoriesEven() {return this.aStories.filter((story, index) => index % 2 === 0);},

    /**
     * time calculation for story
     * @param date
     * @returns {string}
     */
    timeSince(date){

      date=moment.unix(date)
      return moment(date).fromNow()
    },

    /**
     * redirect the see all comments
     * @param story
     */
    showComments(story){this.$router.push({name: 'StoryComments', params: {id: story.id, oStory:story}});},

    /**
     * extract the base url
     * @param sUrl
     * @returns {string}
     */
    getBaseUrl(sUrl){

      if(!sUrl) return ''
      const pathArray = sUrl.split('/');
      return  pathArray[0] + '//' + pathArray[2];
    }
  }
}
</script>

<style scoped>

.post-body {
  width: 100%;
  height: 790px;
  overflow-y: scroll;
}

.posts-btn {
  border-radius:5px;
}

.posts-btn:hover {
  box-shadow: 2px 4px 8px #888888;
  span {
    font-weight: bold;
  }
}

.ellipsis-container {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0;
  padding-right: 0;
}

.card-btn {
  border: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px #888888;
  margin-bottom: 10px;
  overflow: hidden;
}

.card-btn:hover{
  font-weight: bold;
}

.btn-title-div{
  padding: 5px 5px 5px 15px;
}

.btn-action-div{
  text-align: left;
  color: #888888;
  font-size: small;
}

.btn-data:hover{
  color: royalblue;
  background-color: #888888;
}
</style>