<template>
  <div>
    <div class="text-center card card-header">
      <h4 class="fluid ml-0"> <a :href="oStory.url">{{ oStory.title }}</a></h4>
      <div>
        <span> <i class="fa fa-user"></i>:{{oStory.by+' '+timeSince(oStory.time)}} </span>
        <span class="col-md-0" v-show="oStory.type!=='job'">
          <i class="fa fa-comments"></i>:{{oStory.kids?'Top-'+oStory.kids.length:0}}
        </span>
      </div>
    </div>

    <div class="comment-cls" v-if="oStory.kids">
      <comments :a-nested-comments-id="oStory.kids"/>
    </div>
    <div v-else class="text-center">
      <br>
      <h4>Let's Start the Discussion...</h4>
    </div>
  </div>
</template>

<script>
import Comments from "../components/Comments.vue";
import moment from "moment";
import axios from "axios";

export default {

  name: "StoryComments",

  components: {Comments},

  data(){
    return{
      oStory:{}
    }
  },

  methods:{

    /**
     * time calculation for story
     * @param date
     * @returns {string}
     */
    timeSince(date){ return moment(moment.unix(date)).fromNow();},

    /**
     * Api call to get the story related data
     * @param iStoryId
     * @returns {Promise<unknown>}
     */
    getStoryRelatedData(iStoryId){

      return new Promise((resolve,reject)=>{
        axios.get(`/item/${iStoryId}.json`)
        .then(oResponse=>{
          if(oResponse.data){ //&& !this.aPerPageStoriesData.find(elm=>elm.id===oResponse.data.id)){
            this.oStory=oResponse.data;
            console.log(oResponse.data)
            resolve(oResponse)
          }
        })
        .catch(error=>{reject(error)})
      });
    },
  },

  created() {

    this.getStoryRelatedData(this.$route.params.id);

  }
}
</script>

<style scoped>
.comment-cls{
  position: relative;
  border: solid;
}
</style>